version: "3.8"

services:
  mongodb:
    image: mongo
    container_name: mongodb
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGODB_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGODB_PASSWORD}
    volumes:
      - data:/data/db
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
      # args:
      #   DEFAULT_PORT: 80
    container_name: backend
    ports:
      - "${HOST_PORT}:${BACKEND_PORT}"
    volumes:
      - logs:/app/logs
      - ./backend:/app/
      - /app/node_modules/
    environment:
      MONGODB_USERNAME: ${MONGODB_USERNAME}
      MONGODB_PASSWORD: ${MONGODB_PASSWORD}
      MONGODB_DATABASE: ${MONGODB_DATABASE}

    # env_file:
    #   - ./backend/.env
    depends_on:
      - mongodb

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend/src:/app/src
    stdin_open: true
    tty: true

volumes:
  data:
  logs:
