version: "3.8"

services:
  mongodb:
    image: mongo
    container_name: mongodb
    # restart: unless_stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGODB_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGODB_PASSWORD}
    volumes:
      - mongodata:/data/db

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend
    depends_on:
      - mongodb
    environment:
      MONGODB_USERNAME: ${MONGODB_USERNAME}
      MONGODB_PASSWORD: ${MONGODB_PASSWORD}
      MONGODB_USER: ${MONGODB_DATABASE}
      PORT: ${BACKEND_PORT}
    ports:
      - "${HOST_PORT}:${BACKEND_PORT}"
    volumes:
      - backend_log:/app/logs
      - ./backend:/app/
      - /app/node_modules/

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend/src:/app/src/
    stdin_open: true
    tty: true

volumes:
  mongodata:
  backend_log:
